---
export const prerender = false;

import SpanishLayout from "../layouts/SpanishLayout.astro";
import Team2 from "../assets/image/headerla95.webp";
import Footer from "../components/Footer.astro";
import Academy from "../components/AcademyEnglish.astro";

const { titleA, titleB } = Astro.props;

// Construimos la URL absoluta de la imagen para que WhatsApp la encuentre sin problemas
const siteUrl = Astro.site ? Astro.site.origin : "https://la95truckingshow.com";
const imageUrl = new URL(Team2.src, siteUrl).href;
---

<SpanishLayout 
  ogTitle="Academia de Inglés - LA 95 Trucking Show" 
  ogDescription="Aprende inglés enfocado en la industria del transporte y trucking con la Academia de LA 95."
  ogImage={imageUrl}
>
  <header>
    <div class="content-header">
      <img src={Team2.src} alt="desktop image" class="desktop-image" />
      <h1>
        <span>{titleA}</span>
        <span>{titleB}</span>
      </h1>
    </div>
  </header>

  <Academy
    link1="/trailers/"
    link2="/tractors/"
    link3="/documents/"
    link4="/safety/"
    link5="/noticias/"
    navTips1="trailers"
    navTips2="tractors"
    navTips3="documentos"
    navTips4="safety"
    navTips5="noticias" 
  />

  <Footer />
</SpanishLayout>

<script>
  import "../scripts/mainMenu.js";
</script>

<style lang="scss">
  @use '../assets/sass/index' as *;

  .desktop-image img {
    display: none;
  }

  header {
    position: relative;
    width: 100%;
    aspect-ratio: 402 / 226;
    overflow: hidden;
  }

  .content-header {
    display: flex;
    height: 100%;
  }
  
  h1 {
    @include center-contents;
    position: absolute;
    flex-direction:unset;
    align-items: end;
    width: 100%;
    height: 100%;
    background: none;
    margin: 0;
    font-family: $heading;
    font-weight: $regular;
    font-size: 4rem;
  }

  @media (min-width: 1024px) {

    h1, span {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .movil-image {
      display: none;
    }

    h1 {
    font-size: 11rem;
    align-items: center;
    }

    header {
    position: relative;
    width: 100%;
    aspect-ratio: 1240 / 700;
    overoflow-x: hidden;
    overflow: hidden;
    }
  }
</style>