---
import SpanishLayout from "../layouts/SpanishLayout.astro";
import Footer from "../components/Footer.astro";
import img from "../assets/image/graficas.png"
import Modalterms from "../components/ModalTermsOwner.astro";
---

<SpanishLayout
  ogTitle="Suscripción"
  ogDescription="Si eres dueño de una empresa, elige la suscripción que mejor se adapte a ti"
  ogImage="https://la95truckingshow.com/afiliate.jpg"
  ogUrl="https://la95truckingshow.com/Afiliate">
  <div class="underground">
    <section>
      <h2>Afíliate aquí</h2>
      <div class="underline"></div>
      <p>Si eres dueño de una empresa, elige la suscripción que mejor se adapte a ti.</p>
      <div class="section-content">
      <div>
        <p>Suscripción Mensual</p>
        <p><strong></strong></p>
        <div class="light-gold gold-button">
            <button class="openModal" data-modal="modalA">Me quiero suscribir</button>
          </div>
      </div>
      <div>
        <p>Suscripción Anual</p>
        <header>
          <p><strong></strong></p>
        </header>
        <div class="light-gold gold-button">
          <button class="openModal" data-modal="modalB">Me quiero suscribir</button>
        </div>
      </div>
    </section>
    <div class="info-content">
      <h2>Beneficios para Patrocinadores</h2>
      <div class="underline"></div>
      <figure>
        <ul>
          <li><i class="ph ph-check"></i>Logo y datos del negocio en nuestra página web, además de presencia en flyers y contenido promocional.</li>
          <li><i class="ph ph-check"></i>Menciones directas en nuestros programas de Instagram y en los grupos oficiales de WhatsApp.</li>
          <li><i class="ph ph-check"></i>Alta exposición frente a la comunidad camionera y empresarial.</li>
          <li><i class="ph ph-check"></i>Código de barra actualizado para tus clientes.</li>
          <li><i class="ph ph-check"></i>Descuentos y beneficios exclusivos para miembros suscritos.</li>
          <li><i class="ph ph-check"></i>Anuncios garantizados en todas las actividades oficiales de La 95 durante el año.</li>
          <li><i class="ph ph-check"></i>50% OFF para participar en actividades promocionales de La 95 Trucking Show.</li>
          <li><i class="ph ph-check"></i>Acceso preferencial a eventos y colaboraciones especiales.</li>
          <li><i class="ph ph-check"></i>Reportes de alcance para medir resultados.</li>
          <li><i class="ph ph-check"></i>Asociación con una marca confiable y en crecimiento.</li>
        </ul>
        <img src={img.src}" alt="#" />
      </figure>
    </div>
    <div class="info-content">
      <h2>pasos para convertirte en afiliado</h2>
      <div class="underline"></div>
      <div class="step-content">
      <ul>
        <li><i class="ph ph-dot-outline"></i>Haz clic en el botón “Me quiero suscribir”</li>
        <li><i class="ph ph-dot-outline"></i>Lee y acepta los términos y condiciones</li>
        <li><i class="ph ph-dot-outline"></i>Accede a la pasarela de pagos</li>
        <li><i class="ph ph-dot-outline"></i>Completa el formulario de pago (escribe bien tu correo)</li>
        <li><i class="ph ph-dot-outline"></i>Recibe un correo electrónico con tu QR de activación</li>
        <li><i class="ph ph-dot-outline"></i>Con tu QR dirígete al establecimiento de las empresas que están afiliadas</li>
        <li><i class="ph ph-dot-outline"></i>El encargado escaneará tu QR para verificar tu información</li>
        <li><i class="ph ph-dot-outline"></i>Si tu afiliación está activa, recibirás los descuentos correspondientes de esa empresa</li>
      </ul>
      </div>
    </div>
  </div>
  <Modalterms
    titleh2="TÉRMINOS Y CONDICIONES (EE. UU.) PARA SERVICIO DE SUSCRIPCIÓN"
    title1="1. Aceptación de los Términos"
    term1="Al registrarse, acceder o pagar por nuestros servicios, usted acepta cumplir con estos Términos y Condiciones, sujetos a las leyes de los Estados Unidos y del estado donde opera la empresa."
    title2="2. Descripción del Servicio"
    term2="Ofrecemos servicios de suscripción que proporcionan acceso a descuentos exclusivos en servicios relacionados con la industria del transporte."
    title3="3. Suscripción, Pagos y Facturación"
    term3="El usuario autoriza un cargo recurrente mensual. Los pagos se procesan automáticamente hasta que se cancele la suscripción. No se ofrecen reembolsos salvo requerimiento legal.".
    title4="4. Renovación Automática"
    term4="La suscripción se renueva automáticamente según la FTC Negative Option Rule. El usuario puede cancelar en cualquier momento."
    title5="5. Cancelacíon"
    term5="La cancelación detiene futuros cargos pero no elimina los ya procesados. El acceso continuará hasta finalizar el periodo pagado."
    title6="6.Modificaciones"
    term6="La empresa puede modificar precios o contenido del servicio, notificándolo previamente."
    title7="7. Uso Permitido"
    term7="El usuario no debe compartir acceso ni reproducir contenido sin permiso. Todo el material está protegido por Copyright Act of 1976."
    title8="8. Propiedad Intelectua"
    term8="Los contenidos son propiedad de la empresa y están protegidos por leyes de derechos de autor y marcas registradas de EE. UU."
    title9="9. Limitación de Responsabilidad"
    term9="No garantizamos disponibilidad continua del servicio ni somos responsables por daños indirectos. La responsabilidad máxima no excederá lo pagado en los últimos 30 días."
    title10="10. Privacidad y Manejo de Datos"
    term10="La empresa cumple con leyes como CCPA, COPPA y lineamientos de la FTC."
    title11="11. Ley de Comercio Electrónico"
    term11="Todas las transacciones cumplen con E-SIGN Act, permitiendo contratos electrónicos válidos."
    title12="12. Terminación del Servicio"
    term12="La empresa puede suspender o cancelar el acceso por fraude, abuso o violaciones de estos términos."
    title13="13. Ley Aplicable y Disputas"
    term13="Regido por las leyes de EE. UU. y del estado de la empresa. Disputas pueden resolverse mediante arbitraje bajo la Federal Arbitration Act."
    title14="14. Contacto"
    term14="Correo: La95truckingshow@gmail.com"
    buttonAnualLink="aceptar y suscribirse"
    buttonMensualLink="aceptar y suscribirse"
  />
  <Footer />
</SpanishLayout>
<script>
  import "../scripts/mainMenu.js"
  import "../scripts/modal.js"
</script>
<style lang="scss">
  @use '../assets/sass/index' as *;

    .underground {
      padding: 70px 0;
      background-image: url("../assets/image/Pentagonos.png");
      background-repeat:repeat;
      background-position: cover;
      background-attachment: fixed;
      p{
        margin: 10px 5%; 
      }
    } 

    header {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    span {
      text-decoration: line-through;
      color: grey;
      font-size: 1.2rem;
    }

    .section-content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-top: 20px;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $primary;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
      padding: 20px;
      margin: 10px;
      text-align: center;
      width: 300px;

      p {
        font-size: 1.2rem;
        color: $secondary;
        margin: 10px 0;

        strong {
          font-size: 1.5rem;
          color: $accent-b-dark;
        }
      }
    }

    .light-gold {
      width: 70%;
      border-radius: 8px;
      padding: 10px;
      transition: background-color 0.3s, box-shadow 0.3s;
  
      button, #openModal {
        color: black;
        font-size: 1.2rem;
        font-weight: $regular;
        font-family: $heading;
        background-color: transparent;
        cursor: pointer;
      }
    }
  
    .light-gold.gold-button {
      background-color: $accent-b-dark;
      box-shadow: 0 0 20px 10px rgba($accent-b-dark, 20%);
      border: 2px solid $accent-b-dark;
      margin: 20px 0 30px;
    }
  
    .gold-button {
      background-color: $accent-b-light;
    }
  
    .gold-button:hover {
      box-shadow: 0 0 25px 15px rgba($accent-b-light, 30%);
    }
  }

  //beneficios flex

  figure, .step-content {
    display: flex;
    margin: 20px 5%;
    border: 2px solid $accent-b-light;
    border-radius: 8px;
    img {
      display: none;
    }
  }

  ul{
    font-family: $text;
    font-size: 1.2rem;
    line-height: 2.5;
    font-weight: $regular;
    color: white;
    padding: 0;
  }

  i{
    color: $accent-b-dark;
    margin: 10px;
  }

  li {
    margin: 10px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      margin-bottom: 12px;
      font-family: $text;
      font-size: 16px;
      line-height: 1.5;
      color: white;

      i {
        font-size: 20px;
        color: #FFCC4D;
        flex-shrink: 0;
        margin-top: 4px;
      }

      span {
        display: block;
        flex: 1;
      }
    }
  }

  .info-content {
    padding-top: 50px;
  }


  @media (min-width: 1024px) {

    section {
      padding-top: 50px;
    }

    figure, 
    .step-content {
      justify-content: space-between;
      width: 50%;
      img {
        display: block;
        width: 500px;
        min-width: 50px;
        object-fit: contain;
      }
    }

    .info-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h2, p {
      text-align: center;
    }

    .underline {
      margin: 0 auto;
    }
  }
</style>