---
const pageTitle = "Conctacto";  //esto es blog
import "../style/global.scss";
---
<html lang="es">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <h1>{pageTitle}</h1>
    <p>Aquí es donde publicaré acerca de mi viaje aprendiendo Astro./p>
    <ul>
      <li><a href="/posts/home-1/">Publicación 1</a></li>
    </ul>
    <script>
        import "../scripts/menu.js"
    </script>
  </body>
</html>