---
import HomeSlider from "../components/HomeSlider.astro";
import Radio from "../components/Radio.astro";
import PrimarySection from "../components/PrimarySection.astro";
import GuestCard from "../components/GuestCard.astro";
import Badbunny from "/assets/image/bad.webp";
import Jlo from "/assets/image/jlo.webp";
import Yankee from "/assets/image/daddy.webp";
import SpanishLayout from "../layouts/SpanishLayout.astro";
import Carousel from "../components/Carousel.astro";
import Magazine from "../components/Magazine.astro";
import Newsletter from "../components/Newsletter.astro";
import Whatsapp from "../components/Whatsapp.astro";
import Footer from "../components/Footer.astro";
---


<SpanishLayout title="la 95 trucking show">
  <HomeSlider images={['/assets/image/camion.webp', '/assets/image/truck2.webp', '/assets/image/truck3.webp']} />
  <Radio />
  <PrimarySection 
  title="EL PODCAST MÁS DURO"
  paragraph="este es un titulo de ejemplo, este es un titulo de ejemplo, este es un titulo de ejemplo, este es un titulo de ejemplo, este es un titulo de ejemplo, este es un titulo de ejemplo, este es un titulo de ejemplo, este es un titulo de ejemplo, este es un titulo de ejemplo" />
  <h2>INVITADOS ESPECIALES</h2>
    <div class="underline"></div>
  <GuestCard 
  name="Bad bunny"
  image={Badbunny}
  description="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, accusamus!"
  url="" />
  <GuestCard 
  name="Jennifer Lopez"
  image={Jlo}
  description="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, accusamus!"
  url="" />
  <GuestCard 
  name="Daddy yankee"
  image={Yankee}
  description="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, accusamus!"
  url="" />
  <PrimarySection
  title="Conviértete en patrocinador"
  paragraph="este es un ejemplo de la descripcio, este es un ejemplo de la descripcio, este es un ejemplo de la descripcio, este es un ejemplo de la descripcio, este es un ejemplo de la descripcio" /> <!--borrar este props y title -->
  <Carousel />
  <Magazine />
  <Newsletter />
  <Whatsapp />
  <Footer />
</SpanishLayout>
<script>
	import "../scripts/menu.js"
</script>