    <div id="carouselimg">
      <a href="#"><img src="/assets/image/logo1.png" alt="Slide 1"></a>
      <a href="#"><img src="/assets/image/logo1.png" alt="Slide 2"></a>
      <a href="#"><img src="/assets/image/logo1.png" alt="Slide 3"></a>
      <a href="#"><img src="/assets/image/logo1.png" alt="Slide 4"></a>
      <a href="#"><img src="/assets/image/logo1.png" alt="Slide 5"></a>
    </div>
  
  <style lang="scss">

    #carouselimg {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
  }

  div {
    background-color: yellow;
  }
  
  #carouselimg img {
    width: 150px; 
    height: auto;
    margin-right: 10px;
  }
  </style>
  
  
  