---
---
<script src="https://kit.fontawesome.com/f8b4998ade.js" crossorigin="anonymous"></script>

<footer>
  <div class="content-flex">
    <div class="contact-link">
      <a href="#" target="_blank" class="btn contact-details">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
    <div class="contact-link">
      <a href="#" target="_blank" class="btn contact-details">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>
    <div class="contact-link">
      <a href="#" target="_blank" class="btn contact-details">
        <i class="fa-brands fa-facebook"></i>
      </a>
    </div>
</footer>

<style>
  .social {
    display: flex;
    flex-direction: row;
    color: red;
  }

  .fa-brands {
    color: red;
  }
</style>