---
const {name, image, description, url} = Astro.props
---
<section>
    
  <div class="card">
    <img src={image.src} alt="Card Image" class="card-image">
    <div class="gradient">
      <h3 class="card-title">{name}</h3>
    </div>
    <div class="card-content">
      <p class="card-description">{description}</p>
      <div class="light-gold gold-button">
        <a href={url}>ACCIÓN</a>
      </div>
      <div class="small-image"></div>  
    </div>
  </div>
</section>
  
<style lang="scss">
  @use '/assets/sass/index' as *;

  section {
    background-color: $tertiary;
  }

  .card {
    position: relative;
    width: auto;
    margin: 0 5%;
    background-color: $primary;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .card-image {
    width: 400px;
    height: 220px;
    object-fit: cover;
  }

  .gradient {
    position: absolute;
    bottom: 0;
    top: 175px;
    left: 0;
    width: 362px;
    height: 50px;
    background: linear-gradient(to right, rgba(32, 35, 39) 0%,
    rgba(32, 35, 39, 0.2) 50%,
    rgba(52, 55, 61, 0.1 )100%);
    display: flex;
    align-items: left;
    justify-content: left;
  }

  .card-title {
    color: white;
    font-size: 2rem;
    margin-top: 6px;
    font-weight: $regular;
    font-family: $heading;
    padding-left: 10px;
  }

  .card-content {
    padding: 20px;
  }

  .card-description {
    margin-left: 10px;
    margin-right: 100px;
    margin-top: 0;
  }

  .small-image {
    position: absolute;
    top: 240px;
    left: 200px;
    width: 160px;
    height: 150px;
    display: flex;
    background-image: url('/assets/image/Frame2.svg');
    background-size: cover;
    background-position: center;
  }

  .light-gold {
    width: 145px; 
    height: 40px;
    border-radius: 8px;
    padding: 20px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, box-shadow 0.3s;

    a {
      color: $accent-b-dark;
      font-size: 1.5rem;
      font-weight: $regular;
      font-family: $heading;
    }
  }

  .light-gold.gold-button {
    background-color: $tertiary;
    box-shadow: 0 0 20px 10px rgba($accent-b-dark, 25%);
    border: 2px solid $accent-b-dark;
  }

  .gold-button {
    background-color: $accent-b-light;
  }

  .light.gold:hover {
    background-color: $accent-b-light;
    box-shadow: 0 0 25px 15px rgba($accent-b-light, 35%);
  }
</style>
  