---
import Cart from "../assets/image/Cart.png";
const {titleUs, Team1} = Astro.props;
---

<header>
  <div class="content-header">
    <img src={Team1.src} alt="image" class="movil-image">
    <h1>{titleUs}</h1>
    <article>
      <button id="cart">
        <a href="#"><img src={Cart.src} alt="#"></a>
      </button>
    </article>
  </div>
</header>

<style lang="scss">
  @use '../assets/sass/index' as *;

  .desktop-image img {
    display: none;
  }

  header {
    position: relative;
    width: 100%;
    aspect-ratio: 402 / 226;
    overflow: hidden;
  }

  .content-header {
    display: flex;
    height: 100%;
  }
  
  h1 {
    @include center-contents;
    position: absolute;
    flex-direction:unset;
    align-items: end;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: $heading;
    font-weight: $regular;
    font-size: 4rem; 
  }
  article {
    display: flex;
    justify-content: end;
    align-items: end;
  }

  button { 
    position: fixed;
    right: 0;
    background-color: transparent;
    cursor: pointer;
    z-index: 80;
   }

  @media (min-width: 1024px) {

    .movil-image {
      display: none;
    }

    h1 {
    font-size: 11rem;
    align-items: center;
    }

    header {
    position: relative;
    width: 100%;
    aspect-ratio: 1440 / 700;
    overoflow-x: hidden;
    overflow: hidden;
    }
  }
</style>