---
import magazine from '../assets/image/revista.png';

const {title, paragraph} = Astro.props;
---

<div class="podcasts-container">
  <div>
    <h2>Descargar nuestra revista</h2>
    <div class="underline"></div>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, quisquam? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, perferendis?</p>
    <div class="light-button red-button">
      <a href="">DESCARGAR</a>
    </div>
  </div>
  <figure>
    <img src={magazine.src} alt="magazine"> <!-- en espera de la imagen con las dimensiones correctas en formato webp-->
  </figure>
</div>

<style lang="scss">
  @use "../assets/sass/index" as *;

  .podcasts-container {
    display: flex;
    flex-direction: column;
    background-color: $primary;
    padding-top: 20px;
  }

  .podcasts-container P {
    text-align: left;
    margin: 0 5%;
    padding-top: 20px;
  }

  figure {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  figure img {
    width: 75%;
    height: auto;
  }

  @media (min-width: 1024px) {
    
  .podcasts-container {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  figure img {
    margin: 0 5%;
    width: 400px;
    height: auto;
  }
  .underline {
    width: 378px;
  }
  h2 {
    font-size: 3rem;
  }
}
</style>