<div class="radio-container">
    <button id="play-button"></button>
    <button id="pause-button"></button>
    <p id="song-title">La neverita-bad bunny</p>
    <button id="volume-button"></button>
</div>

<style lang="scss">
  @use '/assets/sass/index' as *;

  .radio-container {
    @include center-contents;
    background-color: $accent-b-dark;
    aspect-ratio: 402 / 45;
    margin-bottom: 0px;
    display: flex; 
    align-items: center; 
    justify-content: space-around;
  }

  button {
    width: 32px;
    height: 32px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none; 
    cursor: pointer;
    
  }

  #play-button {
    background-image: url("/assets/image/play.svg");
  }

  #pause-button {
    background-image: url("/assets/image/pause.svg");
    margin: 0;
  }

  #volume-button {
    background-image: url("/assets/image/volume.svg");
  }

  #song-title {
    font-size: 1.5rem;
    font-weight: $regular;
    font-family: $heading;
    color: $primary;
    margin: 0;
  }

  @media (min-width: 1024px) {

    .radio-container {
    background-image: url('/assets/image/Intersect.svg');
    background-repeat: no-repeat;
    background-position: right;
    aspect-ratio: 1440 / 60;
    justify-content: left;
  }

  button {
    margin: 0 5%;
  }

  #pause-button  {
    margin-right: 50px;
  }
  }
</style>




