---
import Had from "../assets/image/had.png";

let items = [];

try {
  const response = await fetch('https://serpapi.com/searches/8fa8058388dba07e/67584f6499ba832aea003483.json');
  const data = await response.json();
  items = data.local_results.places;
} catch (error) {
  console.error('Error fetching data:', error);
}
---

<article>
  <h2>Artículos</h2>
  <div class="underline"></div>
  <p>Lorem ipsum odor amet, consectetuer adipiscing elit.</p>
</article>
<section>
  {items.length > 0 ? (
    items.map(item => (
      <figure>
        <img src={item.thumbnail} alt="item"/>
        <h3>{item.type}</h3>
        <div class="underlineSecondary"></div>
        <p>USD $70</p>
        <div class="inline">
          <div class="light-button dark-button">
            <button id="addItemButton">AGREGAR</button>
          </div>
          <div class="light-button darkness-button spread">
            <button class="openModal" data-modal="modalA">VER MÁS</button>
          </div>
        </div>
      </figure>
    ))
  ) : (
    <p>Cargando artículos...</p>
  )}
</section>

<style lang="scss">
  @use "../assets/sass/index" as*;

  body {
    background-color: $primary;
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .underline {
    width: 120px;
  }

  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 60px;
  }

  figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 70%;
    max-width: 300px;
  }

  .underlineSecondary{
    width: 241px;
    height: 2px;
    background-color: $accent-b-dark;
    justify-content: left;
    margin-top: 0px;
    border-radius: 2px;
    margin: 0 5%; 
  }

  p{
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }

  .inline {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    font-family: $heading;
    font-weight: $regular;
    cursor: pointer;
  }
  
  .light-button.dark-button {
    background-color: $accent-b-dark;
    box-shadow: 0 0 20px 10px rgba($accent-b-dark, 20%);
  }

  .darkness-button {
    background-color: transparent;
    border: 2px solid $accent-b-dark;
    box-shadow: 0 0 20px 10px rgba($accent-b-dark, 20%);
  }

  .darkness-button button {
    color: $accent-b-dark;
  }
  
  .light-button:hover {
    background-color: $accent-b-light;
    box-shadow: 0 0 25px 15px rgba($accent-b-light, 25%);
  }

  .spread:hover {
    background-color: transparent;
    box-shadow: 0 0 25px 15px rgba($accent-b-light, 25%);
  }

  @media only screen and (width >= 1024px){

    section {
    gap: 20px;
  }
  }
  
</style>