---
import img from '../assets/image/trucksale.jpg';
const {button } = Astro.props;
---

<section>
  <div class="card-flexbox">
    <div class="card-content"> 
      <h3>TRUCKER FOR SALE -15,000</h3>
      <p>RELIABLE - WELL MAINTAINED - READY TO DRYVE 游댠</p>
      <img src={img.src} alt="truck">
      <!-- <h4>DETAILS</h4>
      <div class="datos-camion">
        <div class="fila">
          <div class="etiqueta">A침o del cami칩n:</div>
          <div class="valor">2015</div>
        </div>
        <div class="fila">
          <div class="etiqueta">Millas:</div>
          <div class="valor">940.000</div>
        </div>
        <div class="fila">
          <div class="etiqueta">Transmisi칩n:</div>
          <div class="valor">Cummins 13 speed manual</div>
        </div>
        <div class="fila">
          <div class="etiqueta">Color exterior:</div>
          <div class="valor">White</div>
        </div>
        <div class="fila">
          <div class="etiqueta">Color interior:</div>
          <div class="valor">Black</div>
        </div>
      </div> -->
      <p>Dont췂s miss out on this great opportunity to own a reliable trucker! contac us today</p>
      <div class="light-button red-button">
        <button class="openModal" data-modal="modalD">Ver m치s</button>
      </div>
    </div>
  </div>
</section>

<style lang="scss" >
  @use '../assets/sass/index' as *;

  section {
    background-image: url("../assets/image/Pentagonos.png");
    background-repeat:repeat;
    background-position: cover;
  }

  .card-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    background-color: $primary;
    width: 350px;
    border-radius: 8px;
    p {
     margin: 0 5%;
     color: white;
    }
  }

  h3 {
    color: $accent-b-dark;
  }

  h4 {
    margin: 10px 5%;
    color: white;
  }

  section img {
    width: 100%;
    padding: 25px 0;
    object-fit: cover;
  }

  .datos-camion {
    max-width: 500px;
    margin: 0 5%;
  }

  .fila {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .etiqueta {
    font-weight: bold;
    width: 45%;
    color: white;
  }

  .valor {
    width: 50%;
    color: white;
  }

  button {
    justify-content: right;
    align-items: left;
    color: white;
    background-color: $accent-c-dark;
    font-size: 1.2rem ;
  }

</style>