---
const {mision, vision, valores, imagesVision} = Astro.props;
import imagesvision from "../assets/image/Misionteam.webp";
---

<div class="podcasts-container">
  <figure>
    <div> 
      <h2>nuestra razon de ser</h2>
      <div class="underline"></div>
      <img src={imagesvision.src} alt="team">
    </div>
  </figure>
  <div class="section-center">
    <div class="end-line">
      <h2>Vision</h2>
      <i class="ph ph-sunglasses"></i>
    </div>
      <div class="colorsred"></div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus eaque deleniti tempora.</p>
    <div class="end-line">
      <h2>misión</h2>
      <i class="ph ph-sunglasses"></i>
    </div>
      <div class="colorswhite"></div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus eaque deleniti tempora.</p>
    <div class="end-line">
      <h2>Valores</h2>
      <i class="ph ph-sunglasses"></i>
    </div>
      <div class="colorsblue"></div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus eaque deleniti tempora.</p>
  </div>
</div>
    
<style lang="scss">
  @use "../assets/sass/index" as *;

  .podcasts-container {
    display: flex;
    flex-direction: column;
  }
    
  .podcasts-container P {
    margin: 0 5%;
    color: $secondary;
    padding-top: 20px;
  }

  
  h2 {
    font-size: 2rem;
    font-weight: $regular;
    font-family: $heading;
    color: $secondary;
    margin: 0 5%;
    margin-top: 20px;
  }
  
  .section-center i {
    color: $accent-c-dark;
    font-size: 34px;
    margin-right: 20px;
    margin-top: 25px;
    
  }
  
  .end-line {
    display: flex;
    justify-content: space-between;
  }

  .colorsred {
    width: 85%;
    height: 2px;
    background-color: $accent-c-dark;
    margin-top: 0px;
    margin-left: 20px;
  }
  
  .colorsblue {
    width: 85%;
    height: 2px;
    background-color: #4D80FF;
    margin-top: 0px;
    margin-left: 20px;
  }

  .colorswhite {
    width: 85%;
    height: 2px;
    background-color: $secondary;
    margin-top: 0px;
    margin-left: 20px;
  }

  figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: $primary;
  }

  figure img {
    margin-top: 20px;
    width: 100%;
    height: auto;
  }

  @media (min-width: 1024px) {
    
    .podcasts-container {
      display: flex;
      flex-direction: row-reverse;
      padding-top: 0;
    }

    figure {
      display: flex;
      margin-right: 5%;
    }

    figure img {
      height: 540px;
      margin: 0;
    }

    .section-center {
      padding-right: 10%;
      margin-top: 170px;

      h2 {
        font-size: 3rem;
        margin: 0;
      }
    }
    
    p {
      font-size: 1.25rem;
    }
  }
</style>