<div class="podcasts-container">
  <div>
    <h2>Recibe notificaciones y avisos</h2>
    <div class="underline-black"></div>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus eaque deleniti tempora.</p>
    <div class="button-container"> 
      <a href="#">ÚNETE</a>
    </div>
  </div>
  <figure>
    <img src="/assets/image/truckers.webp" alt="truckers">
  </figure>
</div>
    
<style lang="scss">
  @use "/assets/sass/index" as *;

  .podcasts-container {
    padding-top: 20px;
    background-color: $accent-a-dark;
    background-image: url("/assets/image/whatsapp.svg");
    background-repeat: no-repeat;
    background-position: center top;
  }
    
  .podcasts-container P {
    margin: 0 0 5%;
    text-align: center;
    padding: 20px;
    color: #000;
  }

  h2 {
    font-size: 2rem;
    font-weight: $regular;
    font-family: $heading;
    color: $primary;
    text-align: center;
  }

  .underline-black {
    width: 270px;
    height: 2px;
    background-color: $primary;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    border-radius: 2px;
    margin: auto; 
  }

  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  a {
    border: 2px solid $primary;
    border-radius: 8px;
    background-color: transparent;
    text-align: center;
    color: $primary;
    font-size: 1.5rem;
    font-family: $heading;
    font-weight: $regular;
    cursor: pointer;
    width: 130px;
    height: 38px;
  }

  figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  figure img {
    width: 100%;
    height: auto;
  }

  @media (min-width: 1024px) {
    
    .podcasts-container {
    display: flex;
    flex-direction: row-reverse;
    }
  }
</style>