@use "../../../assets/sass/" as *;

.backdrop {
  @include center-contents;

  background-color:transparent;
  position:absolute;
  top: 0;
  left: 0;;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.modal {
  background-color: $primary;
  width: 90%;
  height: 100%;
  padding: 10px;
}

@media (min-width: 1024px) {
  .modal {
    width: 100%;
    height: 80%;
  }

  .backdrop {
    @include center-contents;
    position: fixed;
  }
}
