---
import AdminDashboard from '../../layouts/AdminDashboard.astro';
---
<AdminDashboard title="Admin Dashboard">
  <section>
    <h1>Welcome to Admin Dashboard</h1>
    <p id="greetings"></p>
  </section>

  <script>
    const displayGreet = document.getElementById("greetings");

    const user = JSON.parse(sessionStorage.getItem("user"));
    displayGreet.textContent = `Hello ${user.email}`;
  </script>
</AdminDashboard>
<script>
  import "../../scripts/mainMenu.js"
</script>
<style lang="scss">
   @use "../../assets/sass/index" as *;
  h1, h2 {
    color: $accent-b-dark;
  }

  section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 0;
  }

</style>
