---
export const prerender = false;

import RealstateForm from "../../components/forms/realstate-form/RealstateForm";
import RealstateListitem from "../../components/lists/list-items/realstate-list-item/RealstateList";
import AdminDashboard from "../../layouts/AdminDashboard.astro";

const realstates = await fetch(import.meta.env.PUBLIC_API_BASE_URL.concat('realstates'), {
  method: 'GET',
  headers: {
    'Accept': 'application/json',
  },
}).then((response) => response.json());

const reversedRealstates = realstates.reverse();
---
<AdminDashboard title="realstate">
  <nav>
    <ul>
      <li><a href="/admin/owner">OwnerOperator-jobs</a></li>
      <li><a href="/admin/driverjobs">Driver-Jobs</a></li>
      <li><a href="/admin/realstate">Rentas</a></li>
      <li><a href="/admin/distpacher">Distpacher-jobs</a></li>
    </ul>
  </nav>
  <article>
    <h1>Rentas</h1>
    <h2>Realiza una nueva publicación aquí</h2>
  </article>
  <RealstateForm client:load />
  <h2>Lista de articulos publicados</h2>
  <ul>
    {reversedRealstates.map((realstate) => (
      <RealstateListitem realstate={realstate} client:load />
    ))}
  </ul>
</AdminDashboard>
<script>
  import "../../scripts/mainMenu.js"
</script>
<style lang="scss">
  @use "../../assets/sass/index" as *;
  
  nav {
  ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding-top: 150px;
    li {
      a {
        text-decoration: none;
        color: $accent-b-dark;
        font-weight: bold;
        font-size: 1.2rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  }

  h1, h2 {
    text-align: center;
    color: $accent-b-dark;
  }

  article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 0;
  }
</style>