---
export const prerender = false;

import Softball2024forms from "../../components/forms/softball2024/Softball2024Form";
import Softball2024List from "../../components/lists/list-items/softball2024List/Softball2024List";
import AdminDashboard from "../../layouts/AdminDashboard.astro";

const softball2024s = await fetch(import.meta.env.PUBLIC_API_BASE_URL.concat('softball2024s'), {
  method: 'GET',
  headers: {
    'Accept': 'application/json',
  },
}).then((response) => response.json());

const reversedSoftball2024s = softball2024s.reverse();
---
<AdminDashboard title="softball 2024">
  <article>
    <h1>Subir multimedia</h1>
    <h2>Nueva publicación</h2>
     <nav>
    <ul class="nav-section">
      <li><a href="/admin/softball2025">Torneo2025</a></li>
    </ul>
  </nav>
  </article>
  <Softball2024forms client:load />
  <h2>videos subidos</h2>
  <ul>
    {reversedSoftball2024s.map((softball2024) => (
      <Softball2024List softball2024={softball2024} client:load />
    ))}
  </ul>
</AdminDashboard>
<script>
  import "../../scripts/mainMenu.js"
</script>
<style lang="scss">
   @use "../../assets/sass/index" as *;
  h1, h2 {
    color: $accent-b-dark;
  }

  article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 0;
  }

  .nav-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: red;
    a{
      color: white;
    }
  }
</style>